<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateBusServlet</servlet-name>
        <servlet-class>controller.AdminCreateBusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateRouteServlet</servlet-name>
        <servlet-class>controller.AdminCreateRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateBusNumberServlet</servlet-name>
        <servlet-class>controller.AdminUpdateBusNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateDriverServlet</servlet-name>
        <servlet-class>controller.AdminUpdateDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateRouteServlet</servlet-name>
        <servlet-class>controller.AdminUpdateRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteBusNumberServlet</servlet-name>
        <servlet-class>controller.AdminDeleteBusNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteDriverServlet</servlet-name>
        <servlet-class>controller.AdminDeleteDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteRouteServlet</servlet-name>
        <servlet-class>controller.AdminDeleteRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFeedbackServlet</servlet-name>
        <servlet-class>controller.SendFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchBusNumberServlet</servlet-name>
        <servlet-class>controller.AdminSearchBusNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchBusServlet</servlet-name>
        <servlet-class>controller.AdminSearchBusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchAllBusesServlet</servlet-name>
        <servlet-class>controller.AdminSearchAllBusesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchRouteNumberServlet</servlet-name>
        <servlet-class>controller.AdminSearchRouteNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchAllRoutesServlet</servlet-name>
        <servlet-class>controller.AdminSearchAllRoutesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentFacultyViewAllBusesServlet</servlet-name>
        <servlet-class>controller.StudentFacultyViewAllBusesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentFacultyViewAllRoutesServlet</servlet-name>
        <servlet-class>controller.StudentFacultyViewAllRoutesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentFacultySearchRouteNumberServlet</servlet-name>
        <servlet-class>controller.StudentFacultySearchRouteNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentFacultySearchBusNumberServlet</servlet-name>
        <servlet-class>controller.StudentFacultySearchBusNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffCreateBusServlet</servlet-name>
        <servlet-class>controller.StaffCreateBusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffUpdateBusNumberServlet</servlet-name>
        <servlet-class>controller.StaffUpdateBusNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDeleteBusNumberServlet</servlet-name>
        <servlet-class>controller.StaffDeleteBusNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSearchAllBusesServlet</servlet-name>
        <servlet-class>controller.StaffSearchAllBusesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSearchAllRoutesServlet</servlet-name>
        <servlet-class>controller.StaffSearchAllRoutesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateBusServlet</servlet-name>
        <url-pattern>/AdminCreateBusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateRouteServlet</servlet-name>
        <url-pattern>/AdminCreateRouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateBusNumberServlet</servlet-name>
        <url-pattern>/AdminUpdateBusNumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateDriverServlet</servlet-name>
        <url-pattern>/AdminUpdateDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateRouteServlet</servlet-name>
        <url-pattern>/AdminUpdateRouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteBusNumberServlet</servlet-name>
        <url-pattern>/AdminDeleteBusNumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteDriverServlet</servlet-name>
        <url-pattern>/AdminDeleteDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteRouteServlet</servlet-name>
        <url-pattern>/AdminDeleteRouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFeedbackServlet</servlet-name>
        <url-pattern>/SendFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchBusNumberServlet</servlet-name>
        <url-pattern>/AdminSearchBusNumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchBusServlet</servlet-name>
        <url-pattern>/AdminSearchBusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchAllBusesServlet</servlet-name>
        <url-pattern>/AdminSearchAllBusesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchRouteNumberServlet</servlet-name>
        <url-pattern>/AdminSearchRouteNumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchAllRoutesServlet</servlet-name>
        <url-pattern>/AdminSearchAllRoutesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentFacultyViewAllBusesServlet</servlet-name>
        <url-pattern>/StudentFacultyViewAllBusesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentFacultyViewAllRoutesServlet</servlet-name>
        <url-pattern>/StudentFacultyViewAllRoutesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentFacultySearchRouteNumberServlet</servlet-name>
        <url-pattern>/StudentFacultySearchRouteNumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentFacultySearchBusNumberServlet</servlet-name>
        <url-pattern>/StudentFacultySearchBusNumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffCreateBusServlet</servlet-name>
        <url-pattern>/StaffCreateBusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffUpdateBusNumberServlet</servlet-name>
        <url-pattern>/StaffUpdateBusNumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDeleteBusNumberServlet</servlet-name>
        <url-pattern>/StaffDeleteBusNumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSearchAllBusesServlet</servlet-name>
        <url-pattern>/StaffSearchAllBusesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSearchAllRoutesServlet</servlet-name>
        <url-pattern>/StaffSearchAllRoutesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
